<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
	<key>CLIENT_ID</key>
	<string>553775054490-a2td2ouficq83pbicf8ifh09fe71ufvg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.553775054490-a2td2ouficq83pbicf8ifh09fe71ufvg</string>
	<key>API_KEY</key>
	<string>AIzaSyDODy6BbebeaFvodQ799_ywnqGjWwb94OY</string>
	<key>GCM_SENDER_ID</key>
	<string>553775054490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nimby.hobspracs</string>
	<key>PROJECT_ID</key>
	<string>hob-sparcs</string>
	<key>STORAGE_BUCKET</key>
	<string>hob-sparcs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553775054490:ios:09a653b93557ec3c15e923</string>
</dict>
</plist>